*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    height: 5000px;
    font-family: var(--manrope-font-family);
}

:root{

        --manrope-font-family: "Manrope";
        --heading-color: rgba(71, 117, 255, 1);
        --para-color:  rgba(121, 121, 121, 1);
        --main-font-size-1920px: 100px;
        --para-font-size-1920px: 26px;
        --main-font-size-1440px: 100px;
        --para-font-size-1440px: 26px;
        --main-font-size-1200px: 100px;
        --para-font-size-1200px: 26px;
        --main-font-size-1024px: 70px;
        --para-font-size-1024px: 26px;
        --main-font-size-768px: 60px;
        --para-font-size-768px: 24px;
        --main-font-size-425px: 50px;
        --para-font-size-425px: 20px;
    }


.header-bg{
    background-image: url(../Images/Home/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: fixed;
    width: 100%;
}



/* Nav Start */
.nav-main{    
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.nav-inner{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100px;
    box-shadow: 0px 14px 46.6px -10px rgba(0, 0, 0, 0.25);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 15%;
    transition: all 200ms;
}
.nav-inner-mobile{
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: unset;
}
.nav-links{
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    font-family: var(--manrope-font-family);
    color: rgba(70, 70, 70, 1);
    font-weight: 300;
    line-height: 39px;
}
.nav-links li a:active{
    font-weight: 600;
}

.nav-hamburger{
    font-size: 25px;
    display: none;
    cursor: pointer;
    transition: all 1000ms;
}

.mobile-nav-links{
    border-radius: 10px;
    opacity: 0;
    margin: 0 5%;
    transition: all 500ms;
    background: rgba(255, 255, 255, 0.7);
    height: 85vh;
}
.mobile-inner-link{
    list-style: none;
    padding: 15px 0 15px 40px ;
    transition: all 300ms;
    color: rgba(255, 255, 255, 0);

}
.mobile-nav-links li:hover{
    background: rgba(232, 234, 242, 1);
    color: var(--heading-color);
}
.mobile-nav-links li a:hover{
    color: var(--heading-color);
}
.mobile-nav-links li a{
    text-decoration: none;
    color: rgba(70, 70, 70, 1);
    font-family: var(--manrope-font-family);
}

.show-mobile-links{
    display: block;
}
.mobile-nav-main{
    display: none;
}


/* Nav End */

/* Hero Start */

/* Slide-1 */

.hero-home-main{
    width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
}
.hero-home-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.hero-text{
    flex-basis: 1000px;
}
.hero-text h1{
    font-family: var(--manrope-font-family);
    color: var(--heading-color);
    font-size: 65px;
    font-weight: 300;
    line-height: 83.81px;
    text-align: center;
    margin: 10% auto;
    width: 70%;
}

.hero-wheel{
    margin-top: 10px;
    
}
.hero-wheel img{
    animation: rotate 5s linear infinite;
    width: 6%;
}

/* .hero-wheel::before,
.hero-wheel::after{
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	background: var(--heading-color);
	background-size: 100%;
	width: 10px;
	height: 10px;
	z-index: -1;
} */


@keyframes rotate {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }

   /* Slide- 2 */

   .up{
    animation: up 1000ms ease ;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
   }

   @keyframes up {
    0%{
        transform: translate(-36%, 0%);
        
    }

    100%{
        transform: translate(-36%, -60%);
    }
   }


   .down{
        animation: down 1000ms ease;
        animation-fill-mode: forwards;
        animation-delay: 500ms;
   }

   @keyframes down {
    0%{
        transform: translate(-36%, -75%);
    }

    100%{
        transform: translate(-36%, -15%);
    }
   }


.hero-home-slide-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.hero-home-slide-2-text{
    font-family: var(--manrope-font-family);
    text-align: center;
    text-transform: uppercase;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.hero-home-slide-2-text h1{
    color: rgba(133, 163, 254, 1);
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    width: 100%;
    margin: 15% auto;
}
.hero-bold-text{
    color: var(--heading-color);
    font-size: 65px;
    font-weight: 600;
    line-height: 65px;
}

.hero-home-slide-2-ball-1 img{
    width: 300%;
    transform: translate(-36%, -60%);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.hero-home-slide-2-ball-2 img{
    width: 300%;
    transform: translate(-36%, -15%);
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.hero-home-slide-2-rectangle{
    grid-column: 1 / 4;
    grid-row: 3 / 3;
    justify-self: center;
}

.hero-home-slide-2-rectangle{
        width: 380px;
        height: 222px;
        border-radius: 50px;
        border: 5px solid white;
        backdrop-filter: blur(5px);
        opacity: 0;
        position: relative;
        top: -135%;
        transform: rotate(-290deg)  translate(-46px, 0px) ;
        
}

.rotate-up{
    animation: rotate-up  2000ms linear ;
    animation-fill-mode: forwards;
}
@keyframes rotate-up {
    0%{
        opacity: 1;
        transform: rotate(0deg) translate(300px, 300px );
    }
    100%{
        transform: rotate(-290deg)  translate(-46px, 0px);
        opacity: 1; 
    }
}
.expand{
    animation: expand 2000ms linear ;
    animation-fill-mode: forwards;

}
@keyframes expand{
    0%{
        transform: rotate(-290deg) scale(1) ;
      
    }
    100%{
        transform: rotate(360deg) scale(5) ;
        opacity: 0;
     
    }
}


/* Slide-3 */

.hero-home-slide-3{
    display: flex;
}
.hero-home-slide-3-text{
    font-family: var(--manrope-font-family);
    text-align: center;
    text-transform: uppercase;
    flex-basis: 50%;
}
.hero-home-slide-3-text h1{
    color: var(--heading-color);
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    margin: 10% auto;
    width: 60%;
}


.slide-3-img-1 img{
    width: 100%;
    transform: translate(-278px, -340px);
}
.slide-3-img-2 img {
    width: 100%;
    transform: translate(-142px, -539px);
}
.slide-3-img-3 img {
    width: 100%;
    transform: translate(-30px, -713px);
}
.slide-3-img-4 img {
    width: 100%;
    transform: translate(80px, -884px);
}
.slide-3-img-5 img {
    width: 100%;
    transform: translate(200px, -1060px);
}


.hero-home-slide-3-banners-2 img{
    width: 100%;
}

.diagonal-1{
    animation: diagonal-1 5s linear infinite;
    animation-fill-mode: forwards;
}
@keyframes diagonal-1 {
    0%{
        transform: translate(-142px, -189px);
    }
    100%{
        transform: translate(-278px, -340px);
    }
}

.diagonal-2{
    animation: diagonal-2 5s linear infinite;
    animation-fill-mode: forwards;
}
@keyframes diagonal-2 {
    0%{
        transform: translate(-29px, -364px);
      
    }
    100%{
        transform: translate(-142px, -539px);
    }
}

.diagonal-3{
    animation: diagonal-3 5s linear infinite;
    animation-fill-mode: forwards;
}
@keyframes diagonal-3 {
    0%{
        transform: translate(80px, -534px);
      
    }
    100%{
        transform: translate(-30px, -713px);
    }
}

.diagonal-4{
    animation: diagonal-4 5s linear infinite;
    animation-fill-mode: forwards;
}
@keyframes diagonal-4 {
    0%{
        transform: translate(201px, -707px);
      
    }
    100%{
        transform: translate(80px, -884px);
    }
}

.diagonal-5{
    animation: diagonal-5 5s linear infinite;
    animation-fill-mode: forwards;
}
@keyframes diagonal-5 {
    0%{
        transform: translate(323px, -910px);
    }
    100%{
        transform: translate(200px, -1060px);
    }
}

.slide-3-banner-img-1 img{
    width: 100%;
    transform: translate(-211px, -376px);
}
.slide-3-banner-img-2 img{
    width: 100%;
    transform: translate(-102px, -554px);
}
.slide-3-banner-img-3 img{
    width: 100%;
    transform: translate(8px, -728px);
}
.slide-3-banner-img-4 img{
    width: 100%;
    transform: translate(118px, -901px);
}
.slide-3-banner-img-5 img{
    width: 100%;
    transform: translate(258px, -1084px);
}

.diagonal-6{
    animation: diagonal-6 5s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
@keyframes diagonal-6 {
    0%{
        transform: translate(-102px, -204px);
    }
    100%{
        transform: translate(-211px, -376px);
    }
}

.diagonal-7{
    animation: diagonal-7 5s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
@keyframes diagonal-7 {
    0%{
        transform: translate(7px, -378px);
    }
    100%{
        transform: translate(-102px, -554px);
    }
}
.diagonal-8{
    animation: diagonal-8 5s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
@keyframes diagonal-8 {
    0%{
        transform: translate(120px, -551px);
    }
    100%{
      transform: translate(8px, -728px);
}
    }

.diagonal-9{
    animation: diagonal-9 5s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
@keyframes diagonal-9 {
    0%{
        transform: translate(257px, -732px);
    }
    100%{
        transform: translate(118px, -901px);
    }
}
.diagonal-10{
    animation: diagonal-10 5s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
@keyframes diagonal-10 {
    0%{
        transform: translate(386px, -940px);
    }
    100%{
        transform: translate(258px, -1084px);
    }
}



















@media screen and (max-width: 1441px) {
    .hero-text{
        flex-basis: 700px;
    }
    .hero-text h1{
        font-size: 60px;
        line-height: 60px;
        width: 100%;
        margin: 10% auto;
    }

    .hero-wheel img{
        width: 6%;
    }

    .hero-home-slide-2-text{
        flex-basis: 200%;
    }

    .hero-home-slide-2-text h1{
        font-size: 55px;
        line-height: 55px;
        width: 100%;
        margin: 10% auto;
    }
    .hero-bold-text{
        font-size: 55px;
        font-weight: 600;
        line-height: 55px;
    }
    .hero-home-slide-3-text{
        flex-basis: 50%;
    }
    .hero-home-slide-3-text h1{
        font-size: 55px;
        line-height: 55px;
        margin: 10% auto;
        width: 70%;
    }
}


@media screen and (max-width: 1024px) {



    .hero-text{
        flex-basis: 500px;
        transform: translate( 0%, 0%);
    }
    .nav-inner{
        justify-content: space-around;
        margin: 0px 5%;
    }

    .hero-text h1{
        font-size: 50px;
        line-height: 50px;
        width: 100%;
    }

    .hero-home-slide-2-text{
        flex-basis: 250%;
    }

    .hero-home-slide-2-text h1{
        font-size: 40px;
        line-height: 40px;
        width: 100%;

    }
    .hero-bold-text{
        font-size: 40px;
        line-height: 40px;
    }
    .hero-home-slide-3-text{
        flex-basis: 35%;
    }
    .hero-home-slide-3-text h1{
        font-size: 40px;
        line-height: 40px;
        margin: 10% auto;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mobile-nav-main{
        display: block;
    }
    .open{
        opacity: 1;
        border-radius: 0px 0px 10px 10px;
    }
    .hero-text{
        flex-basis: 400px;
    }
    .nav-inner{
        justify-content: space-between;
        padding: 0 50px;
    }
    .nav-links{
        display: none;
    }
    .nav-hamburger{
        display: block;
    }
    .hero-text h1{
        font-size: 40px;
        line-height: 40px;
    }

    .hero-wheel img{
        width: 7%;
    }

    .hero-home-slide-2-text{
        flex-basis: 300%;
    }

    .hero-home-slide-2-text h1{
        font-size: 30px;
        line-height: 30px;
        width: 100%;

    }
    .hero-bold-text{
        font-size: 30px;
        line-height: 30px;
    }
    .hero-home-slide-3-text{
        flex-basis: 50%;
    }
    .hero-home-slide-3-text h1{
        font-size: 30px;
        line-height: 30px;
        margin: 10% auto;
        width: 100%;
    }


    /* Slide 3 */
    .slide-3-img-1 img{
        transform: translate(-139px, -190px);
    }
    .slide-3-img-2 img {
        transform: translate(-59px, -322px);
    }
    .slide-3-img-3 img {
        transform: translate(20px, -456px);
    }
    .slide-3-img-4 img {
        transform: translate(97px, -589px);
    }
    .slide-3-img-5 img {
        transform: translate(177px, -721px);
    }

@keyframes diagonal-1 {
    0%{
        transform: translate(-59px, -76px);
    }
    100%{
        transform: translate(-139px, -190px);
    }
}

@keyframes diagonal-2 {
    0%{
        transform: translate(21px, -210px);
      
    }
    100%{
        transform: translate(-59px, -322px);
    }
}


@keyframes diagonal-3 {
    0%{
        transform: translate(96px, -343px);
      
    }
    100%{
        transform: translate(20px, -456px);
    }
}

@keyframes diagonal-4 {
    0%{
        transform: translate(178px, -476px);
      
    }
    100%{
        transform: translate(97px, -589px);
    }
}

@keyframes diagonal-5 {
    0%{
        transform: translate(249px, -605px);
    }
    100%{
        transform: translate(177px, -721px);
    }
}
    /* --------------------------------------------- */
    .slide-3-banner-img-1 img{
        transform: translate(-122px, -282px);
    }
    .slide-3-banner-img-2 img{
        transform: translate(-46px, -412px);
    }
    .slide-3-banner-img-3 img{
        transform: translate(28px, -544px);
    }
    .slide-3-banner-img-4 img{
        transform: translate(101px, -676px);
    }
    .slide-3-banner-img-5 img{
        transform: translate(176px, -805px);
    }

    @keyframes diagonal-6 {
        0%{
            transform: translate(-46px, -166px);
        }
        100%{
            transform: translate(-122px, -282px);
        }
    }
    
    @keyframes diagonal-7 {
        0%{
            transform: translate(28px, -298px);
        }
        100%{
            transform: translate(-46px, -412px);
        }
    }

    @keyframes diagonal-8 {
        0%{
            transform: translate(103px, -431px);
        }
        100%{
            transform: translate(28px, -544px);
    }
        }
    

    @keyframes diagonal-9 {
        0%{
            transform: translate(177px, -559px);
        }
        100%{
            transform: translate(101px, -676px);
        }
    }

    @keyframes diagonal-10 {
        0%{
            transform: translate(249px, -684px);
        }
        100%{
            transform: translate(176px, -805px);
        }
    }
    
    
}

@media screen and (max-width:426px) {

    .nav-inner{
        padding: 0 25px;
    }

    .hero-text h1{
        font-size: 30px;
        line-height: 30px;
        width: 300px;
        margin: 10% auto;
    }


    .hero-wheel img{
        width: 7%;
    }


    .hero-home-slide-2-text{
        flex-basis: 100%;
    }

    .hero-home-slide-2-text h1{
        font-size: 30px;
        line-height: 30px;
        width: 68%;
    }
    .hero-bold-text{
        font-size: 30px;
        line-height: 30px;
    }
    
    .hero-home-slide-2-ball-1 img{
        display: none;      
    }
    
    .hero-home-slide-2-ball-2 img{
        display: none;
    }

    .hero-home-slide-3-text{
        flex-basis: 100%;
    }
    .hero-home-slide-3-text h1{
        font-size: 30px;
        line-height: 30px;
        margin: 10% auto;
        width: 100%;
    }


    /* Slide 3 */
    .slide-3-img-1 img{
        transform: translate(123px, 358px);
        width: 140%;
    }
    .slide-3-img-2 img {
        transform: translate(81px, 148px);
        width: 140%;
    }
    .slide-3-img-3 img {
        transform: translate(40px, -63px);
        width: 140%;
    }
    .slide-3-img-4 img {
        transform: translate(-2px, -272px);
        width: 140%;
    }
    .slide-3-img-5 img {
        transform: translate(-43px, -483px);
        width: 140%;
    }

@keyframes diagonal-1 {
    0%{
        transform: translate(167px, 443px);
    }
    100%{
        transform: translate(123px, 358px);
    }
}

@keyframes diagonal-2 {
    0%{
        transform: translate(125px, 218px);
      
    }
    100%{
        transform: translate(81px, 148px);
    }
}


@keyframes diagonal-3 {
    0%{
        transform: translate(81px, 6px);
      
    }
    100%{
        transform: translate(40px, -63px);
    }
}

@keyframes diagonal-4 {
    0%{
        transform: translate(40px, -205px);
      
    }
    100%{
        transform: translate(-2px, -272px);
    }
}

@keyframes diagonal-5 {
    0%{
        transform: translate(-1px, -414px);
    }
    100%{
        transform: translate(-43px, -483px);
    }
}

    /* --------------------------------------------- */
    .slide-3-banner-img-1 img{
        transform: translate(31px, 15px);
        width: 140%;
    }
    .slide-3-banner-img-2 img{
        transform: translate(-12px, -196px);
        width: 140%;
    }
    .slide-3-banner-img-3 img{
        transform: translate(-56px, -409px);
        width: 140%;
    }
    .slide-3-banner-img-4 img{
        transform: translate(-99px, -622px);
        width: 140%;
    }
    .slide-3-banner-img-5 img{
        transform: translate(-149px, -831px);
        width: 140%;
    }

    @keyframes diagonal-6 {
        0%{
            transform: translate(74px, 84px);
        }
        100%{
            transform: translate(31px, 15px);
        }
    }
    
    @keyframes diagonal-7 {
        0%{
            transform: translate(31px, -128px);
        }
        100%{
            transform: translate(-12px, -196px);
        }
    }

    @keyframes diagonal-8 {
        0%{
            transform: translate(-13px, -337px);
        }
        100%{
            transform: translate(-56px, -409px);
    }
        }
    

    @keyframes diagonal-9 {
        0%{
            transform: translate(-55px, -551px);
        }
        100%{
            transform: translate(-99px, -622px);
        }
    }

    @keyframes diagonal-10 {
        0%{
            transform: translate(-102px, -762px);
        }
        100%{
            transform: translate(-149px, -831px);
        }
    }
    
}

@media screen and (max-width: 376px) {
 
    .hero-text h1{
        font-size: 25px;
        line-height: 25px;
    }
    .hero-home-slide-2-text h1 {
        font-size: 25px;
        line-height: 25px;
        width: 70%;
    }
    .hero-bold-text{
        font-size: 25px;
        line-height: 25px;
    }

        /* Slide 3 */
        .slide-3-img-1 img{
            display: none;
        }
        .slide-3-img-2 img {
            display: none;
        }
        .slide-3-img-3 img {
            display: none;
        }
        .slide-3-img-4 img {
            display: none;
        }
        .slide-3-img-5 img {
            display: none;
        }
    .slide-3-banner-img-1 img{
        display: none;
    }
    .slide-3-banner-img-2 img{
        display: none;
    }
    .slide-3-banner-img-3 img{
        display: none;
    }
    .slide-3-banner-img-4 img{
        display: none;
    }
    .slide-3-banner-img-5 img{
        display: none;
    }

}

@media screen and (max-width: 320px) {
    .hero-text h1{
        width: 250px;
    }
    .hero-home-slide-2-text h1 {
        width: 80%;
    }

}