:root{
    --manrope-font-family: "Manrope";
    --heading-color: rgba(71, 117, 255, 1);
    --para-color:  rgba(121, 121, 121, 1);
    --main-font-size-1920px: 45px;
    --para-font-size-1920px: 16px;
    --main-font-size-1440px: 40px;
    --para-font-size-1440px: 16px;
    --main-font-size-1200px: 36px;
    --para-font-size-1200px: 16px;
    --main-font-size-1024px: 32px;
    --para-font-size-1024px: 14px;
    --main-font-size-768px: 30px;
    --para-font-size-768px: 14px;
    --main-font-size-425px: 26px;
    --para-font-size-425px: 12px;
}
.services-page-carts{
    margin: -325px auto 150px auto;
}

.owl-card-slider-section .item{
    padding: 10px;
}

.owl-card-slider-section h3{
    font-size: 20px;
    text-align: center;
    color: var(--heading-color);
    padding-inline: 20px;
    text-transform: uppercase;
}